[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"
coverage = "*"
"flake8" = "*"
tox = "*"
readme-renderer = "*"

[packages]

[requires]
python_version = "2.7"
